header.theme-dark { background-color: var(--white-200) } /* bg */
header.theme-dark h1 { color: var(--red-600) }
header.theme-dark h2 { color: var(--brown-700) } /* text */
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--red-800) } /*bg menu*/
nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited { color: var(--pink-900) } /*contact me font*/
nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active { color: var(--pink-600) } /*contact me font hoover*/
nav.theme-dark ul.links-wrapper li a:link,
nav.theme-dark ul.links-wrapper li a:visited { color: var(--pink-100) } /*home portfolio font */
nav.theme-dark ul.links-wrapper li a:focus,
nav.theme-dark ul.links-wrapper li a:hover,
nav.theme-dark ul.links-wrapper li a:active { color: var(--pink-100) } /*home portfolio font hoover*/

.theme-light h3 {
  font-family: 'Cinzel', serif;
  font-size: 1.5em;
  font-weight: 700;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #db9340;
  padding: 10px;
  border-radius: 10px;
}

.theme-0 h1 {
  font-family: 'Cinzel', serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
