header, #header { 
    padding-top: 22px;
    padding-bottom: 32px; 
    background-color: #707fa0;
}

header h1, #header h1 { 
    color: #faf4f4;
    text-transform: uppercase;
    font-weight: 400;
}

main, section { background-color: #ccb8c0; }